# *<center>Data Science - Computer Assignment 6</center>*

### *<center> Marzie Hariri - Armita Bahroudi - FatemeZahra Broumandnia </center>*
### *<center> 810199404-810100591-810100094 </center>*

### Imports

In [623]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn import preprocessing
from sklearn.decomposition import PCA

## Task

### 1. Preprocessing

Load dataset

In [624]:
data = pd.read_csv('dataset_diabetes/diabetic_data.csv')

In [625]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [626]:
data.shape

(101766, 50)

In [627]:
data.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [628]:
data = data.replace("?",np.nan)
data.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [629]:
data.isnull().sum()

encounter_id                    0
patient_nbr                     0
race                         2273
gender                          0
age                             0
weight                      98569
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  40256
medical_specialty           49949
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         21
diag_2                        358
diag_3                       1423
number_diagnoses                0
max_glu_serum               96420
A1Cresult                   84748
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [630]:
missing_percentage = data.isnull().sum() * 100 / len(data)

print(missing_percentage)

encounter_id                 0.000000
patient_nbr                  0.000000
race                         2.233555
gender                       0.000000
age                          0.000000
weight                      96.858479
admission_type_id            0.000000
discharge_disposition_id     0.000000
admission_source_id          0.000000
time_in_hospital             0.000000
payer_code                  39.557416
medical_specialty           49.082208
num_lab_procedures           0.000000
num_procedures               0.000000
num_medications              0.000000
number_outpatient            0.000000
number_emergency             0.000000
number_inpatient             0.000000
diag_1                       0.020636
diag_2                       0.351787
diag_3                       1.398306
number_diagnoses             0.000000
max_glu_serum               94.746772
A1Cresult                   83.277322
metformin                    0.000000
repaglinide                  0.000000
nateglinide                  0.000000
chlorpropamide               0.000000
glimepiride                  0.000000
acetohexamide                0.000000
glipizide                    0.000000
glyburide                    0.000000
tolbutamide                  0.000000
pioglitazone                 0.000000
rosiglitazone                0.000000
acarbose                     0.000000
miglitol                     0.000000
troglitazone                 0.000000
tolazamide                   0.000000
examide                      0.000000
citoglipton                  0.000000
insulin                      0.000000
glyburide-metformin          0.000000
glipizide-metformin          0.000000
glimepiride-pioglitazone     0.000000
metformin-rosiglitazone      0.000000
metformin-pioglitazone       0.000000
change                       0.000000
diabetesMed                  0.000000
readmitted                   0.000000
dtype: float64

#### Highest missing values are in weight, payer_code and medical_specialty
  - weight ~97% 
  - payer_code ~40%
  - medical_specialty 50%
  - max_glu_serum 95%
  - A1Cresult 83%

but Na values in last 2 features are meaningfull, so we keep them
#### Dropping these columns

In [631]:
data = data.drop(['weight','payer_code','medical_specialty'], axis = 1)

check for any duplicate record: zero

In [632]:
len(data)-len(data.drop_duplicates())

0

In [633]:
'Number of patients in dataset is {:,}'.format(data['patient_nbr'].nunique())

'Number of patients in dataset is 71,518'

In [634]:
'Number of records in dataset is {:,}'.format(len(data))

'Number of records in dataset is 101,766'

#### Analysing the unique values in Categorical values

In [635]:
cat_var = ["race", "gender", "age","metformin","repaglinide","nateglinide","chlorpropamide","glimepiride","acetohexamide","glipizide","glyburide","tolbutamide","pioglitazone","rosiglitazone","acarbose","miglitol","troglitazone","tolazamide","examide","citoglipton","insulin","glyburide-metformin","glipizide-metformin","glimepiride-pioglitazone","metformin-rosiglitazone","metformin-pioglitazone","change","diabetesMed","readmitted"]
data_ = data[cat_var].select_dtypes(exclude=['int', 'float'])
for col in data_.columns:
    print(data_[col].unique()) 
    print(data_[col].value_counts())

['Caucasian' 'AfricanAmerican' nan 'Other' 'Asian' 'Hispanic']
race
Caucasian          76099
AfricanAmerican    19210
Hispanic            2037
Other               1506
Asian                641
Name: count, dtype: int64
['Female' 'Male' 'Unknown/Invalid']
gender
Female             54708
Male               47055
Unknown/Invalid        3
Name: count, dtype: int64
['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']
age
[70-80)     26068
[60-70)     22483
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Name: count, dtype: int64
['No' 'Steady' 'Up' 'Down']
metformin
No        81778
Steady    18346
Up         1067
Down        575
Name: count, dtype: int64
['No' 'Up' 'Steady' 'Down']
repaglinide
No        100227
Steady      1384
Up           110
Down          45
Name: count, dtype: int64
['No' 'Steady' 'Down' 'Up']
nateglinide
No        101063
Steady       668
Up            24
Down          11
Name: count, dtype: int64
['No' 'Steady' 'Down' 'Up']
chlorpropamide
No        101680
Steady        79
Up             6
Down           1
Name: count, dtype: int64
['No' 'Steady' 'Down' 'Up']
glimepiride
No        96575
Steady     4670
Up          327
Down        194
Name: count, dtype: int64
['No' 'Steady']
acetohexamide
No        101765
Steady         1
Name: count, dtype: int64
['No' 'Steady' 'Up' 'Down']
glipizide
No        89080
Steady    11356
Up          770
Down        560
Name: count, dtype: int64
['No' 'Steady' 'Up' 'Down']
glyburide
No        91116
Steady     9274
Up          812
Down        564
Name: count, dtype: int64
['No' 'Steady']
tolbutamide
No        101743
Steady        23
Name: count, dtype: int64
['No' 'Steady' 'Up' 'Down']
pioglitazone
No        94438
Steady     6976
Up          234
Down        118
Name: count, dtype: int64
['No' 'Steady' 'Up' 'Down']
rosiglitazone
No        95401
Steady     6100
Up          178
Down         87
Name: count, dtype: int64
['No' 'Steady' 'Up' 'Down']
acarbose
No        101458
Steady       295
Up            10
Down           3
Name: count, dtype: int64
['No' 'Steady' 'Down' 'Up']
miglitol
No        101728
Steady        31
Down           5
Up             2
Name: count, dtype: int64
['No' 'Steady']
troglitazone
No        101763
Steady         3
Name: count, dtype: int64
['No' 'Steady' 'Up']
tolazamide
No        101727
Steady        38
Up             1
Name: count, dtype: int64
['No']
examide
No    101766
Name: count, dtype: int64
['No']
citoglipton
No    101766
Name: count, dtype: int64
['No' 'Up' 'Steady' 'Down']
insulin
No        47383
Steady    30849
Down      12218
Up        11316
Name: count, dtype: int64
['No' 'Steady' 'Down' 'Up']
glyburide-metformin
No        101060
Steady       692
Up             8
Down           6
Name: count, dtype: int64
['No' 'Steady']
glipizide-metformin
No        101753
Steady        13
Name: count, dtype: int64
['No' 'Steady']
glimepiride-pioglitazone
No        101765
Steady         1
Name: count, dtype: int64
['No' 'Steady']
metformin-rosiglitazone
No        101764
Steady         2
Name: count, dtype: int64
['No' 'Steady']
metformin-pioglitazone
No        101765
Steady         1
Name: count, dtype: int64
['No' 'Ch']
change
No    54755
Ch    47011
Name: count, dtype: int64
['No' 'Yes']
diabetesMed
Yes    78363
No     23403
Name: count, dtype: int64
['NO' '>30' '<30']
readmitted
NO     54864
>30    35545
<30    11357
Name: count, dtype: int64

- Gender have 3 'Unknown/Invalid' values  
- 'citoglipton', 'examide' have same values throughout the data. Hence can be removed from the data
- Crucial column - readmitted have values in terms of NO, >30 and <30

In [636]:
## Leaving out Gender values if 'Unknown/Invalid'
## Dropping column 'citoglipton', 'examide'
data = data.drop(data.loc[data["gender"]=="Unknown/Invalid"].index, axis=0)
data = data.drop(['citoglipton', 'examide'], axis = 1)

Variable Encoding

In [637]:
data['change'] = data['change'].replace('Ch', 1)
data['change'] = data['change'].replace('No', 0)
data['gender'] = data['gender'].replace('Male', 1)
data['gender'] = data['gender'].replace('Female', 0)
data['diabetesMed'] = data['diabetesMed'].replace('Yes', 1)
data['diabetesMed'] = data['diabetesMed'].replace('No', 0)
# keys is the same as before
keys = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'glipizide', 'glyburide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'insulin', 'glyburide-metformin', 'tolazamide', 'metformin-pioglitazone','metformin-rosiglitazone', 'glimepiride-pioglitazone', 'glipizide-metformin', 'troglitazone', 'tolbutamide', 'acetohexamide']
for col in keys:
    data[col] = data[col].replace('No', 0)
    data[col] = data[col].replace('Steady', 1)
    data[col] = data[col].replace('Up', 1)
    data[col] = data[col].replace('Down', 1)
data.head(5)

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,0,[0-10),6,25,1,1,41,...,0,0,0,0,0,0,0,0,0,NO
1,149190,55629189,Caucasian,0,[10-20),1,1,7,3,59,...,0,1,0,0,0,0,0,1,1,>30
2,64410,86047875,AfricanAmerican,0,[20-30),1,1,7,2,11,...,0,0,0,0,0,0,0,0,1,NO
3,500364,82442376,Caucasian,1,[30-40),1,1,7,2,44,...,0,1,0,0,0,0,0,1,1,NO
4,16680,42519267,Caucasian,1,[40-50),1,1,7,1,51,...,0,1,0,0,0,0,0,1,1,NO

Glucose serum and A1C test results were also categorized as Normal, Abnormal, and Not tested.

In [638]:
data['A1Cresult'] = data['A1Cresult'].replace('>7', 1)
data['A1Cresult'] = data['A1Cresult'].replace('>8', 2)
data['A1Cresult'] = data['A1Cresult'].replace('Norm', 0)
data['A1Cresult'] = data['A1Cresult'].fillna(-99)
data['max_glu_serum'] = data['max_glu_serum'].replace('>200', 1)
data['max_glu_serum'] = data['max_glu_serum'].replace('>300', 2)
data['max_glu_serum'] = data['max_glu_serum'].replace('Norm', 0)
data['max_glu_serum'] = data['max_glu_serum'].fillna(-99)

In [639]:
data['max_glu_serum'].unique()

array([-99.,   2.,   0.,   1.])

In [640]:
data['A1Cresult'].unique()

array([-99.,   1.,   2.,   0.])

In [641]:
for col in data.select_dtypes(include=[bool]):
    data[col] = data[col].astype(np.int64)

In [642]:
for col1 in ['gender', 'admission_type_id', 'discharge_disposition_id', 'admission_source_id', 'diag_1','diag_2','diag_3']:
    data[col1] = pd.to_numeric(data[col1], errors='coerce')

handling NaNs in diag_1, 2, 3. as ita appears that mean and median are so different, we use median value to replace missing ones.

In [643]:
selected_columns = data[['diag_1', 'diag_2', 'diag_3']]  # Select by column names
selected_columns.describe()

              diag_1        diag_2        diag_3
count  100097.000000  98869.000000  95283.000000
mean      493.577164    438.667065    418.175375
std       206.712806    178.895204    177.321334
min         3.000000      5.000000      3.000000
25%       410.000000    276.000000    272.000000
50%       440.000000    425.000000    403.000000
75%       599.000000    530.000000    496.000000
max       999.000000    999.000000    999.000000

In [644]:
data['diag_1'] = data['diag_1'].fillna(data['diag_1'].median())
data['diag_2'] = data['diag_2'].fillna(data['diag_2'].median())
data['diag_3'] = data['diag_3'].fillna(data['diag_3'].median())

In [645]:
data.isnull().sum() * 100 / len(data)

encounter_id                0.000000
patient_nbr                 0.000000
race                        2.231656
gender                      0.000000
age                         0.000000
admission_type_id           0.000000
discharge_disposition_id    0.000000
admission_source_id         0.000000
time_in_hospital            0.000000
num_lab_procedures          0.000000
num_procedures              0.000000
num_medications             0.000000
number_outpatient           0.000000
number_emergency            0.000000
number_inpatient            0.000000
diag_1                      0.000000
diag_2                      0.000000
diag_3                      0.000000
number_diagnoses            0.000000
max_glu_serum               0.000000
A1Cresult                   0.000000
metformin                   0.000000
repaglinide                 0.000000
nateglinide                 0.000000
chlorpropamide              0.000000
glimepiride                 0.000000
acetohexamide               0.000000
glipizide                   0.000000
glyburide                   0.000000
tolbutamide                 0.000000
pioglitazone                0.000000
rosiglitazone               0.000000
acarbose                    0.000000
miglitol                    0.000000
troglitazone                0.000000
tolazamide                  0.000000
insulin                     0.000000
glyburide-metformin         0.000000
glipizide-metformin         0.000000
glimepiride-pioglitazone    0.000000
metformin-rosiglitazone     0.000000
metformin-pioglitazone      0.000000
change                      0.000000
diabetesMed                 0.000000
readmitted                  0.000000
dtype: float64

Age-Assumption: The average age of the patient falls in the middle of the age category.
The resulting variable is a numeric rating based on midpoints in age categories

so code age intervals [0-10) - [90-100) from 1-10

In [646]:
data.age = data.age.replace({"[70-80)":75, "[60-70)":65, "[50-60)":55, "[80-90)":85, "[40-50)":45, "[30-40)":35, "[90-100)":95, "[20-30)":25, "[10-20)":15, "[0-10)":5})
print(data.age.value_counts())

age
75    26066
65    22482
55    17256
85    17197
45     9685
35     3775
95     2793
25     1657
15      691
5       161
Name: count, dtype: int64

one-hot-encoding on categorical features. convert nominal values to dummy values

In [647]:
df_race = pd.get_dummies(data['race'])
df_insulin = pd.get_dummies(data['insulin'])

data = pd.concat([data, df_race, df_insulin], axis=1)
data.drop(['race', 'insulin'], axis=1, inplace=True)

In [648]:
data.shape

(101763, 50)

Map values according to the specified conditions.
- '0' means no readmission
- '1' means readmission after being >30 days discharged
- '2' means readmission after being <30 days discharged

In [649]:
data['readmitted'] = data['readmitted'].map({'NO': 0, '<30': 1, '>30': 2})

In [650]:
data.shape
data.head(5)

,encounter_id,patient_nbr,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,change,diabetesMed,readmitted,AfricanAmerican,Asian,Caucasian,Hispanic,Other,0,1
0,2278392,8222157,0,5,6,25,1,1,41,0,...,0,0,0,False,False,True,False,False,True,False
1,149190,55629189,0,15,1,1,7,3,59,0,...,1,1,2,False,False,True,False,False,False,True
2,64410,86047875,0,25,1,1,7,2,11,5,...,0,1,0,True,False,False,False,False,True,False
3,500364,82442376,1,35,1,1,7,2,44,1,...,1,1,0,False,False,True,False,False,False,True
4,16680,42519267,1,45,1,1,7,1,51,0,...,1,1,0,False,False,True,False,False,False,True

In [651]:
data['number_outpatient'] = data['number_outpatient'].apply(lambda x: np.sqrt(x + 0.5))
data['number_emergency'] = data['number_emergency'].apply(lambda x: np.sqrt(x + 0.5))
data['number_inpatient'] = data['number_inpatient'].apply(lambda x: np.sqrt(x + 0.5))

In [652]:
# feature scaling, features are standardized to have zero mean and unit variance
feature_scale_cols = ['time_in_hospital', 'num_lab_procedures', 'num_procedures', 'num_medications', 
                      'number_diagnoses', 'number_inpatient', 'number_emergency', 'number_outpatient']

scaler = preprocessing.StandardScaler().fit(data[feature_scale_cols])
data_scaler = scaler.transform(data[feature_scale_cols])

data_scaler_df = pd.DataFrame(data=data_scaler, columns=feature_scale_cols, index=data.index)
data.drop(feature_scale_cols, axis=1, inplace=True)
data = pd.concat([data, data_scaler_df], axis=1)

In [653]:
data.columns = data.columns.astype(str)

In [654]:
data.to_csv('preprocessed_data.csv', index=False)

In [655]:
prepared_data = data.drop(['encounter_id', 'patient_nbr'], axis=1)

### 2. Dimensionality Reduction

Perform PCA. Adjust number of components so that 0.95 of charactristics would be saved

In [656]:
pca = PCA(n_components=0.95) 
reduced_data = pca.fit_transform(prepared_data)
pca.n_components_

3

Create a DataFrame with principal components

In [657]:
pca_df = pd.DataFrame(data=reduced_data, columns=[f'PC{i+1}' for i in range(pca.n_components_)])
pca_df.to_csv('pca_data.csv', index=False)

### 3. Unsupervised Learning

### *K-Means*

In [658]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import matplotlib.pyplot as plt

# Determine optimal number of clusters using Silhouette Method
sil_scores = []
K = range(2, 11)
for k in K:
    kmeans = KMeans(n_clusters=k)
    kmeans.fit(pca_df)
    labels = kmeans.labels_
    sil_scores.append(silhouette_score(pca_df, labels))

# Plot Silhouette scores
plt.plot(K, sil_scores, 'bx-')
plt.xlabel('k')
plt.ylabel('Silhouette Score')
plt.title('Silhouette Score vs. Number of Clusters')
plt.show()

# Optimal number of clusters
optimal_k = K[sil_scores.index(max(sil_scores))]
print(f'Optimal number of clusters: {optimal_k}')

# Apply KMeans with optimal number of clusters
kmeans = KMeans(n_clusters=optimal_k)
kmeans_labels = kmeans.fit_predict(pca_df)

KeyboardInterrupt:

### *DBScan*

In [ ]:
from sklearn.cluster import DBSCAN
import numpy as np

# Determine optimal parameters for DBSCAN
eps_values = np.arange(0.1, 1.5, 0.1)
min_samples_values = range(2, 10)
best_sil_score = -1
best_params = {}

for eps in eps_values:
    for min_samples in min_samples_values:
        dbscan = DBSCAN(eps=eps, min_samples=min_samples)
        labels = dbscan.fit_predict(pca_df)
        if len(set(labels)) > 1:  # Ensure at least 2 clusters
            sil_score = silhouette_score(pca_df, labels)
            if sil_score > best_sil_score:
                best_sil_score = sil_score
                best_params = {'eps': eps, 'min_samples': min_samples}

print(f'Optimal DBSCAN parameters: {best_params}')

In [ ]:
# Apply DBSCAN with optimal parameters
dbscan = DBSCAN(eps=best_params['eps'], min_samples=best_params['min_samples'])
dbscan_labels = dbscan.fit_predict(pca_df)

In [ ]:
result_df = pd.DataFrame({
    'id_encounter': data.index,  # Assuming 'id_encounter' is the index or an existing column
    'kmean_label': kmeans_labels,
})

result_df.to_csv('clustering_results.csv', index=False)